extraEnvVars:
  - name: PLUGIN_ENV_VAR_1
    value: {{ env "ARGOCD_ENV_PLUGIN_ENV_VAR_1" }}
  - name: APPS_NGINX_VALUES
    value: 'value from apps/nginx/values dir'
#  - name: HELM_VERSION
#    value: {{ requiredEnv "HELM_VERSION" }}
#  - name: BOOTSTRAP_CONF_VAR_1
#    value: {{ env "VAR_1" }}
