extraEnvVars:
  - name: PLUGIN_ENV_VAR_1
    value: {{ env "ARGOCD_ENV_PLUGIN_ENV_VAR_1" }}
#  - name: HELM_VERSION
#    value: {{ requiredEnv "HELM_VERSION" }}
#  - name: BOOTSTRAP_CONF_VAR_1
#    value: {{ env "VAR_1" }}
